*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
  }
  
  :root{
    --cor1: #48fcff;
  }
  
  
  body{
    font-family: Sans-Serif;
    display: flex;
    cursor: crosshair;
    margin: 0;
    
  }

  .container{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    
  }

  .divForm{
    position:absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
  }

  form {
    position:absolute;
    width: 80%;
    height: 50%;
    background-color: #009699;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    box-shadow: 0 0 20px #001111 inset;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;  
  }

  input{
    width: 100%;
    border-radius: 5px;
    height: 25px;
    outline: none;
    padding: 7px;

  }

  .btn{
    margin-top: 20px;
    width: 100%;
    position: relative;
    height: 20px;
  }

  button{
    width: 100px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 5px;
    height: 20px;
    
  }
  
  .input_form{
    width: 180px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .lbl{
    color: white;
    text-shadow: 0 0 10px #001111;
  }

  @media (min-width: 600px)  {
    form{
      width: 400px;
    }
  }

  .divEmail{
    margin-bottom: 10px;
  }

  .h1Style{
    position: absolute;
    text-shadow: 0 0 5px var(--cor1);
    width: 100%;
    height: 200px;
    text-align: center;
    margin-top: 40px;
  }
  

  
  .register, .esqueci{
    position: absolute;
    bottom: 0;
    color: var(--cor1);
    
  }
  
  .register {
      left: 10px;
      bottom: 10px;
  }
  
  .esqueci{
    right: 10px;
    bottom: 10px;
    color: #005165;
  }
  
  .divPass{
    margin-bottom: 10px;
  }
  
  .vl{
    font-size: 20px;
    color: var(--cor1);
    position: absolute;
    left: 5px;
  }
  
  #btnCadastrar{
    margin-top: 15px;
  }
  
.centralize {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.loading {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;

}


.loading label {
    font-size: 25px;
    font-weight: bold;
    text-shadow: 0 0 5px var(--cor1);
}



#lbl{
  position: absolute;
  top: -20px;
}
